.wrapper {
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px;
}

input[type="text"], input[type="password"], input[type="email"] {
    display: inline-block;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */

    width: 300px;
    padding: 5px;
}

.error {
    display: inline-block;
    height: 20px;
    margin-left: 220px;

}

ul {
    list-style-type: none;
    padding-left: 0;
}
ul li {
    border-bottom: 1px solid #DFDFDF;
    width: 600px;
    padding: 15px 0;
    overflow: hidden;
}

label {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0 0 20px;
    width: 200px;
    vertical-align: top;
}

.captcha {
    display:inline-block;
}


.red {
    color: #f00;
}

.required {
    border: solid 1px #f00
}

.button {
    border-bottom: none;
}