<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
        
        .jumbotron {
            min-width: 360px;
        }
        .jumbotron p {
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center col-xs-6 col-xs-offset-3">
            <h2><span class="fa fa-lock"></span> Duber Challenge</h2>
            <p> Created using Exress and MongDB as back-end, and jQuery and Bootstrap for front-end </p>
            <p>Perform user login/registration described <a href-"https://gist.github.com/ogryzek/bd10df6d8e238e64dcde9d219e02d42e">here.</a> </p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div>
</body>

</html>