<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
        
        .valid-status {
            position: absolute;
            display: inline-block;
            margin-left: 5px;
            margin-top: 5px;
            width: 16px;
            height: 16px;
        }
        
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            /*display: inline-block;*/
            position: relative;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            /* future proofing */
            -khtml-border-radius: 5px;
            /* for old Konqueror browsers */
            width: 300px;
            padding: 5px;
        }
        
        .required {
            border: solid 1px #f00
        }
        
        .red {
            color: #f00;
        }
        
        .error {
            display: inline-block;
            height: 20px;
            padding: 5px;
        }
        
        label {
            display: block;
        }
        
        .form-control {
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Login</h1>

            <form action="/login" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input id="email" type="text" class="form-control" name="email"> <span id="validEmail" class="valid-status"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input id="password" type="password" class="form-control" name="password"><span id="validPassword" class="valid-status"></span>
                </div>

                <button id="submit" type="submit" class="btn btn-warning btn-lg">Login</button>
                <div class="error">
                    <p class="errorMsg red"></p>
                </div>
            </form>
            <hr>
            <p>Need an account? <a href="/register">Register</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            document.forms[0].email.select();

            error = false;
            errorMsg = $('.errorMsg');

            errorMsg.hide();

            $("#submit").click(function (e) {
                e.preventDefault();
                resetFields();
                var emptyfields = $("#email, #password, #passwordConfirm");
                emptyfields.each(function () {
                    if ($(this).val() === "") {
                        error = true;
                        $(this).stop()
                            .animate({ left: "-10px" }, 100).animate({ left: "10px" }, 100)
                            .animate({ left: "-10px" }, 100).animate({ left: "10px" }, 100)
                            .animate({ left: "0px" }, 100)
                            .addClass("required");
                    }
                });

                if(error) {
                    errorMsg.text("*** Missing required fields").fadeIn(1000);
                    return;
                }

                error = isFormDataValid();
                if (!error.dataIsValid) {
                    $('.errorMsg').text('*** ' + error.message).fadeIn(1000);
                    return;
                } else {
                    errorMsg.hide()
                }
                error = false;
                // do ajax so can post data after..??
                $.ajax({
                    url : "/login",
                    type: "POST",
                    data : $('form').serialize(),
                    success: function(res)
                    {
                        if(!res.success) {
                            $('.errorMsg').text('*** ' + res.message).fadeIn(1000);
                        } else {
                            window.location.href = res.url;
                        }
                    },
                    error: function (err){ console.log(err) }
                });
            });

            $("#email").blur(function () {
                var email = $("#email").val();
                if (email != 0) {
                    if (isValidEmailAddress(email)) {
                        $("#validEmail").css({
                            "background-image": "url('http://note-to-myself.com/validYes.png')"
                        });
                    } else {
                        $("#validEmail").css({
                            "background-image": "url('http://note-to-myself.com/validNo.png')"
                        });
                    }
                } else {
                    $("#validEmail").css({
                        "background-image": "none"
                    });
                }
            });

            $("#password").blur(function () {
                var validPass = $("#validPassword");
                var pass = $("#password").val();
                if (pass != 0) {
                    if (pass.length >= 6) { // passconf has not been entered yet; ignore it here
                        validPass.css({
                            "background-image": "url('http://note-to-myself.com/validYes.png')"
                        });
                    } else {
                        validPass.css({
                            "background-image": "url('http://note-to-myself.com/validNo.png')"
                        });
                    }
                } else {
                    validPass.css({
                        "background-image": "none"
                    });
                }
            });
        });
        function isFormDataValid() {
            var dataIsValid = true;
            var message = "";

            $('.errorMsg').hide();
            if(dataIsValid == true)
                {
                    if(!(isValidEmailAddress($("#email").val()))){
                        dataIsValid = false;   
                        message = "Invalid email address: " + $("#email").val();
                    }
                }
           var password = $("#password").val(); 
            if (dataIsValid == true) {
                if (password.length < 1) {
                    dataIsValid = false;
                    message = "Password missing";
                }
            }

            if (dataIsValid == true) {
                if (password.length < 6) {
                    dataIsValid = false;
                    message = "Password too short";
                }
            }

            if (dataIsValid == true) {
                if (password.indexOf('<') != -1) {
                    dataIsValid = false;
                    message = "Illegal character in password";
                }
            }

            if (dataIsValid == true) {
                if (password.indexOf('>') != -1) {
                    dataIsValid = false;
                    message = "Illegal character in password";
                }
            }
            return {
                'dataIsValid': dataIsValid,
                'message': message
            }
            
        }

        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/i);
            return pattern.test(emailAddress);
        }
        function resetFields() {
            error = false;
            $("input[type=text], input[type=password]").removeClass("required");
        }
    </script>
</body>

</html>