<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
        
        .valid-status {
            position: absolute;
            display: inline-block;
            margin-left: 5px;
            margin-top: 5px;
            width: 16px;
            height: 16px;
        }
        
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            /*display: inline-block;*/
            position: relative;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            /* future proofing */
            -khtml-border-radius: 5px;
            /* for old Konqueror browsers */
            width: 300px;
            padding: 5px;
        }
        
        .required {
            border: solid 1px #f00
        }
        
        .red {
            color: #f00;
        }
        
        .error {
            display: inline-block;
            height: 20px;
            padding: 5px;
        }

        label {
            display: block;
        }
        .form-control {
            display: inline-block;
        }
    </style>

</head>

<body>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="fa fa-sign-in"></span> Register</h1>
            <!-- LOGIN FORM -->
            <form action="/register" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input id="email" type="text" class="form-control" name="email"> <span id="validEmail" class="valid-status"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input id="password" type="password" class="form-control" name="password"> <span id="validPassword" class="valid-status"></span>
                </div>

                <div class="form-group">
                    <label>Confirm Password</label>
                    <input id="passwordConfirm" type="password" class="form-control" name="passwordConfirm"> <span id="validPassConfirm" class="valid-status"></span>
                </div>
                <button id="submit" type="submit" class="btn btn-warning btn-lg">Login</button>
                <div class="error">
                    <p class="errorMsg red"></p>
                </div>
            </form>
            <hr>
            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="../public/scripts/register.js"></script>-->
    <script>
        
yesImage = "url('http://note-to-myself.com/validYes.png')"
noImage = "url('http://note-to-myself.com/validNo.png')"
$(document).ready(function () {

    document.forms[0].email.select();

    error = false;
    errorMsg = $('.errorMsg');

    errorMsg.hide();

    $("#submit").click(function (e) {
        resetFields();
        var emptyfields = $("#email, #password, #passwordConfirm");
        emptyfields.each(function () {
            if ($(this).val() === "") {
                error = true;
                $(this).stop()
                    .animate({ left: "-10px" }, 100).animate({ left: "10px" }, 100)
                    .animate({ left: "-10px" }, 100).animate({ left: "10px" }, 100)
                    .animate({ left: "0px" }, 100)
                    .addClass("required");
            }
        });
        errorMsg.text("*** Missing required fields");

        validatePassword()
        validatePasswordConfirm()

        if (error) {
            e.preventDefault();
            errorMsg.show()
        } else {
            errorMsg.hide()
        }
        error = false;
    });

    // give immediate email validation feedback
    $("#email").keyup(function () {
        var email = $("#email").val();
        if (email != 0) {
            if (isValidEmailAddress(email)) {
                $("#validEmail").css({
                    "background-image": "url('http://note-to-myself.com/validYes.png')"
                });
            } else {
                $("#validEmail").css({
                    "background-image": "url('http://note-to-myself.com/validNo.png')"
                });
            }
        } else {
            $("#validEmail").css({
                "background-image": "none"
            });
        }
    });

    // give immediate email validation feedback
    $("#email").blur(function () {
        var email = $("#email").val();
        if (email != 0) {
            if (isValidEmailAddress(email)) {
                $("#validEmail").css({
                    "background-image": "url('http://note-to-myself.com/validYes.png')"
                });
            } else {
                $("#validEmail").css({
                    "background-image": "url('http://note-to-myself.com/validNo.png')"
                });
            }
        } else {
            $("#validEmail").css({
                "background-image": "none"
            });
        }
    });

    $("#password").keyup(function () {

        var validPass = $("#validPassword")
        var validPassConfirm = $("#validPassConfirm");
        var pass = $("#password").val();
        if (pass != 0) {
            // then check for a match here now too
            var passconf = $("#passwordConfirm").val();
            if ((passconf != 0) && (passconf.length >= 6)) {
                if (pass == passconf) {
                    validPass.css({ "background-image": "url('http://note-to-myself.com/validYes.png')" });
                    validPassConfirm.css({ "background-image": "url('http://note-to-myself.com/validYes.png')" });
                } else {
                    validPass.css({ "background-image": "url('http://note-to-myself.com/validNo.png)" });
                    validPassConfirm.css({ "background-image": "url('http://note-to-myself.com/validNo.png')" });
                }
            } else {

                if (pass.length >= 6) { // passconf has not been entered yet; ignore it here
                    validPass.css({
                        "background-image": "url('http://note-to-myself.com/validYes.png')"
                    });
                } else {
                    validPass.css({
                        "background-image": "url('http://note-to-myself.com/validNo.png')"
                    });
                }
            }
        } else {
            validPass.css({
                "background-image": "none"
            });
        }
    });

    // give immediate password-confirmation validation feedback
    $("#passwordConfirm").keyup(function () {
        var validPassConfirm = $("#validPassConfirm");
        var pass = $("#password").val();
        var pass_conf = $("#passwordConfirm").val();
        if (pass != 0) {
            if ((pass == pass_conf) && (pass_conf.length >= 6)) {
                validPassConfirm.css({ "background-image": yesImage });
            } else {
                validPassConfirm.css({ "background-image": noImage });
            }
        } else {
            validPassConfirm.css({
                "background-image": "none"
            });
        }
    });
});


function validatePassword() {
    var pass = $('#password');
    if (pass.val().length < 6) {
        pass.each(function () {
            $(this).stop()
                .animate({ left: "-10px" }, 100).animate({ left: "10px" }, 100)
                .animate({ left: "-10px" }, 100).animate({ left: "10px" }, 100)
                .animate({ left: "0px" }, 100)
                .addClass("required");
        });

        if (error == false) {
            errorMsg.text("*** Password must be 6+ characters long");
            error = true;
        }
    }
}

function validatePasswordConfirm() {
    var password = $("#passwordConfirm");
    if (password.val() != $("#password").val()) {
        if (error == false) {
            errorMsg.text("*** Passwords do not match.");
            error = true;
        }

        password.each(function () {
            $(this).stop()
                .animate({ left: "-10px" }, 100).animate({ left: "10px" }, 100)
                .animate({ left: "-10px" }, 100).animate({ left: "10px" }, 100)
                .animate({ left: "0px" }, 100)
                .addClass("required");
        });
    };
}

function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/i);
    return pattern.test(emailAddress);
}

function resetFields() {
    error = false;
    $("input[type=text], input[type=password]").removeClass("required");
}
    </script>
</body>

</html>